body {
	background-color: $background-color;
	color: $primary-color;
}

header {
	color: $primary-color;
	font-weight: 300;

	height: $navbar-height-phone;

	@include tablet {
		height: $navbar-height-tablet;
	}

	@include desktop {
		height: $navbar-height-desktop;
	}
}

footer {
  	background-color: $primary-color;
}

button {
	background-color: $button-color;
}