$my-blue: #64b5f6;
$my-red: #e57373;
$my-green: #66bb6a;

@mixin button($color) {
	background-color: $color;
	color:#fff;
	border: 3px solid mix(black, $color, 50%);
	border-radius: 5px;
	padding: 1em 2em;
	margin-bottom: 3em;
	display: inline-block;
	
	&:hover {
		background-color: mix(black, $color, 25%);
		border-color: mix(black, $color, 75%);
	}
}

.mybutton1 {
	@include button($my-blue);
}

.mybutton2 {
	@include button($my-red);
}

.mybutton3 {
	@include button($my-green);
}